@import '../../index.scss';

#games-page {
  padding: 15px;

  .game-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
