@import '../../index.scss';

.game-card {
  background-color: $secondary-color;
  width: fit-content;
  height: 150px;
  display: flex;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $box-shadow-color;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  .game-all-info {
    .game-favorite {
      cursor: pointer;
    }
  }

  .game-info {
    display: flex;
    align-items: center;
  }

  .game-img {
    width: fit-content;
    height: 100%;

    img {
      height: 100%;
    }
  }
}
