@import '../../index.scss';

#filter-container {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .select-box {
    min-width: 200px;
    border: 2px solid $primary-color;
    background-color: $secondary-color;
    color: $font-color;
    border-radius: 5px;
    padding: 2px 15px;
  }
}
