@import '../../index.scss';

#header {
  background-color: $primary-color;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 25px;
    margin-left: 10px;
    cursor: pointer;
  }

  a {
    font-size: 30px;
    color: $second-font-color;
    text-decoration: none;
  }
}
