* {
  padding: 0;
  margin: 0;
}

$primary-color: #537188;
$secondary-color: #e1d4bb;
$third-color: #c1d0b5;
$font-color: #000;
$second-font-color: #fff;
$box-shadow-color: #00000033;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#drawer-menu {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $third-color;
  height: 100%;
  padding-top: 70px;

  .list-menu {
    margin-left: 25%;
    font-size: 30px;

    width: fit-content;

    a {
      text-decoration: none;
      color: $font-color;
      cursor: pointer;
    }
  }

  .second-level-menu {
    margin-left: 15px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: lower-alpha;

    li {
      font-size: 20px;
    }
  }

  .third-level-menu {
    @extend .second-level-menu;
    list-style-type: lower-roman;

    li {
      font-size: 18px;
    }
  }
}
